<div class="text-center" id="header">
  <ul class="menu">
    <li><a href='/'>Home</a></li>
    <li><a href='/stylists'>Stylists</a></li>
    <li><a href='/stylists/new'>Add new stylist</a></li>
    <li><a href="/specialties">Specialties</a></li>
  </ul>
</div>
