@{
  Layout = "_Layout";
}

<h1>Zsuzsi's Hair Salon</h1>
<hr>

<form action="/stylists" method="post">
  <label for="name">@Model["stylist"].GetStylistName()</label>
  <button type="submit">Delete</button>
</form>

<br>
<p><a href='/stylists/</a>Back to stylists</p>
