@{
  Layout = "_Layout";
}

<h2>Add a stylist</h2>
<hr>
<form action="/stylists" method="post">
  <label for="stylistName">Name</label>
  <input id="stylistName" name="stylistName" type="text">
  <br>
  <br>
  <label for="bio">About</label>
  <input id="bio" name="bio" type="text">
  <br>
  <br>
  <button type="submit">Add</button>
</form>

<br>
<p><a href="/stylists">Back to stylists</a></p>
