@{
  Layout = "_Layout";
}

<h2>Add a specialty</h2>
<hr>

<form action="/specialties" method="post">
  <label for="name">Specialty</label>
  <input id="name" name="name" type="text">
  <label for="price">Price</label>
  <input id="price" name="price" type="text">
  <button type="submit">Add</button>
</form>
<br>
<p><a href="/specialties">Back to specialties</a></p>
