body {
  color: white;
  margin-top: 5vh;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h4, h5, p {
  font-family: 'Raleway', sans-serif;
}

a, a:hover {
  color: white;
}

h1 {
  font-size: 90px;
  text-shadow: 1px 1px black;
  margin-top: 20vh;
  color: #F6AA1C;
}

h2 {
  font-size: 50px;
  text-shadow: 1px 1px black;
  margin-top: 10vh;
  color: #F6AA1C;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text decoration: none;
  background-color: #914D76;
  margin-left: 1vw;
  margin-right: 1vw;
  font-family: 'Raleway', sans-serif;
}

.menu li a:hover {
  color: #CEF7A0;
  text-decoration: none;
}

input, button, select, textarea {
  color: black;
}

button {
  color: black;
}
