@{
  Layout = "_Layout";
}

<div class="text-center">
<h1>THE HAIR PROJECT</h1>
</div>
<h3><a href='/stylists'>View stylists</a></h3>
<h3><a href='/stylists/new'>Add a new stylist</a></h3>
<h3><a href='/specialties'>View specialties</a></h3>
