@using HairSalon.Models;

@{
  Layout = "_Layout";
}

<h1>Add a new client to @Model.GetStylistName() @Model.GetId()</h1>

<form action='/clients' method='post'>
  <input id='stylistId' name='stylistId' type='hidden' value='@Model.GetId()'>
  <label for='clientName'>Client name</label>
  <input id='clientName' name='clientName' type='text'>
  <label for='clientPhone'>Client phone number</label>
  <input id='clientPhone' name='clientPhone' type='text'>
  <button type='submit'>Add client</button>
</form>

<p><a href='/stylists'>Return to stylist list</a></p>
<p><a href='/'>Return to Main Page</a></p>
