@{
  Layout = "_Layout";
}

<h2>Client:</h2>
<hr>
<h4>Name: @Model["selectedClient"].GetClientName()</h4>
<h4>Phone: @Model["selectedClient"].GetPhone()</h4>
<p><a href="">Delete this client</a></p>
<p><a href="">Edit name</a><p>
<p><a href="">Edit phone</a><p>
